.style-btn2 {
  position: relative;
  display: flex;
  align-items: center;
  gap: 15px;
  cursor: pointer;
  background-color: #f9f9f9;
  border-radius: 100px;
  padding: 10px 30px;
  overflow: hidden;
}

.style-btn2 .style_round2 {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: black;
  transition: all 0.3s ease-out;
}

.style-btn2 .style_title2 {
  margin: 0;
  font-size: 18px;
  transition: all 0.3s ease-out;
  z-index: 2;
}

.style-btn2 .style_arrow2 {
  position: absolute;
  left: 100%;
  transition: transform 0.3s ease-out;
  z-index: 2;
  top: 16px;
}

.style-btn2:hover .style_round2 {
  transform: scale(55);
  background-color: var(--color-VividGreen);
}

.style-btn2:hover .style_title2 {
  color: #fff;
  transform: translateX(-25px);
}

.style-btn2:hover .style_arrow2 {
  transform: translateX(-45px);
}
