.picture{
    position: absolute;
    top:495px;
    left: 58.2vw;
}
.picture2{
    position: absolute;
    top: 265px;
    left: 20vw;
}
.picture3{
    position: absolute;
    top: 1135px;
    left: 11.8vw;
}
.picture4{
    position: absolute;
    top: 975px;
    left: 26vw;
}
.picture5{
    position: absolute;
    top: 940px;
    left: 77.37vw;
}
.picture6{
    position: absolute;
    top: 202vh;
    left: 7.54vw;
}
.picture7{
    position: absolute;
    top: 246vh;
    left: 33.16vw;
}
.picture8{
    position: absolute;
    top: 254vh; 
    left: 9.44vw;
}
.picture9{
    position: absolute;
    top: 285vh;
    left: 70.13vw;       
}
