.style-btn {
  position: relative;
  display: flex;
  align-items: center;
  gap: 15px;
  cursor: pointer;
  background-color: #F9F9F9;
  border-radius: 100px;
  padding: 10px 30px;
  overflow: hidden;
}

.style-btn .style_round {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #000;
  transition: all 0.3s ease-out;
}

.style-btn .style_title {
  margin: 0;
  font-size: 18px;
  transition: all 0.3s ease-out;
  z-index: 2;
}

.style-btn .style_arrow {
  position: absolute;
  left: 100%;
  transition: transform 0.3s ease-out;
  z-index: 2;
  top: 16px;
}

.style-btn:hover .style_round {
  transform: scale(25);
  background-color: var(--color-VividGreen);
}

.style-btn:hover .style_title {
  color: #fff;
  transform: translateX(-25px);
}

.style-btn:hover .style_arrow {
  transform: translateX(-45px);
}
