name: Deploy to EC2
on:
  push:
    branches:
      - main

jobs:
  deploy-main:
    name: Push to EC2 (main)
    runs-on: ubuntu-latest
    steps:
      - name: executing remote ssh commands using key
        uses: appleboy/ssh-action@v1.2.2
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_HOST_NAME }}
          key: ${{ secrets.PRIVATE_SSH_KEY }}
          port: 22
          script: |
                export NVM_DIR="$HOME/.nvm"
                [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"
                export PATH="/home/admin/.bun/bin:$PATH"


                cd ~/devops/spain-academy
                git fetch
                git checkout origin main
                git pull origin main


                cd frontend
                bun install
                bun run build


                APP_NAME="spain-academy-main"


                pm2 describe $APP_NAME > /dev/null
                RUNNING=$?

                if [ "${RUNNING}" -ne 0 ]; then
                  # If it's not running, start it
                  echo "Starting $APP_NAME..."
                  pm2 start bun --name "$APP_NAME" -- start -- -p 3000
                else
                  # If it is running, restart it to apply changes
                  echo "Restarting $APP_NAME..."
                  pm2 restart $APP_NAME
                fi


                pm2 save
