name: Deploy to EC2

on:
  push:
    branches:
      - development

jobs:
  deploy-development:
    name: Push to EC2 (development)
    runs-on: ubuntu-latest
    steps:
      - name: executing remote ssh commands using key
        uses: appleboy/ssh-action@v1.2.2
        with:
          host: 65.0.95.56
          username: ubuntu
          key: ${{ secrets.PRIVATE_SSH_KEY }}
          port: 22
          script: ./deploy-dev.sh
